# Backup copies
backup_phase_items_ok/

# Test folders
testvite/

# Temporary folders
git/

# Old frontend versions
frontend/build/
frontend/node_modules/

# Node dependencies
**/node_modules/

# Invalid empty file
frontend_new/src/package.json

# SQLite temporary files
**/*.db-shm
**/*.db-wal

backend/db/*backup*.db